body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Светлый фон для страницы */
    color: #333; /* Темный цвет текста */
}

nav {
    background-color: #020411; /* Цвет фона навигации */
    color: white;
    padding: 15px;
    text-align: center; /* Центрирование текста */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
}

nav a {
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный шрифт для ссылок */
}

nav a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

#temple-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.temple-card {
    background-color: white; /* Белый фон для карточек */
    border: 1px solid #ccc; /* Светло-серый бордер */
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для карточек */
    transition: transform 0.2s; /* Плавный переход при наведении */
}

.temple-card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
}

.temple-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4a90e2; /* Цвет фона подвала */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}